body {
    background-image: url(../images/background_blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-text{

    font-size: 30px;
    color: white;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.title-text{
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center-container div{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.center-container div a{
    background-color: white;
    display: inline-block;
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}